/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Styling for the body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(212, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

/* Styling for the main header */
h1 {
    color: #b90984e5;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
}

/* Additional class for bold text */
.bold {
    font-weight: bold;
}

/* Additional class for uppercase text */
.uppercase {
    text-transform: uppercase;
}

/* Styling for the search box */
.box {
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: rgb(245, 241, 241);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Expand input field on hover */
.box:hover input {
    width: 400px;
}

/* Styling for the input field */
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

/* Styling for the search icon */
.box a {
    color: rgb(255, 20, 59);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the search results container */
#results {
    margin-top: 20px;
    width: 80%;
}

/* Styling for each product item */
.product {
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* Styling for product images */
.product img {
    max-width: 100px;
    margin-right: 20px;
}

/* Styling for product titles */
.product h2 {
    font-size: 18px;
    color: #000000;
    margin: 0 0 10px 0;
}

/* Styling for product details */
.product p {
    margin: 5px 0;
    color: #000000;
}
